@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
img {
	cursor: pointer;
}

.dot {
	color: #959595;
	font-size: xx-large;
	margin: 0 10px;
	display: block;
	margin-top: -15px;
}

.section1-h2 {
	display: flex;
	align-items: center;
	font-size: 0.8rem;
	margin-bottom: 16px;
}

.section1-h2-alternate {
	display: none;
}

.green {
	color: #4dc591;
	font-weight: 800;
}

body {
	font-size: 1rem;
	width: 100vw;
	overflow-x: hidden;
	font-family: "Poppins", sans-serif;
}

.blue {
	color: #1937d7;
	font-weight: 800;
}

p {
	margin-bottom: 14px;
}

header {
	position: sticky;
	top: 0;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
	z-index: 10;
}

.header {
	height: 70px;
	width: 100vw;
	padding: 10px 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	overflow: hidden;
	z-index: 40;
}

.left-section {
	cursor: pointer;
}

.progress-container {
	width: 100%;
	height: 1px;
	background: #ccc;
}

.progress-bar {
	height: 2px;
	background: #1937d7;
	width: 0%;
}

.header > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.initials {
	width: 50px;
	height: 50px;
}

.initials img {
	width: 100%;
}

.name {
	margin-left: 30px;
	font-size: 1.7rem;
}

.right-section div {
	padding: 10px;
	margin-top: 10px;
}

@-webkit-keyframes shadow {
	from {
		-webkit-box-shadow: none;
		box-shadow: none;
		color: black;
	}
	to {
		-webkit-box-shadow: inset 0 -18px 30px -30px #3b51ce;
		box-shadow: inset 0 -18px 30px -30px #3b51ce;
		color: #3b51ce;
	}
}

@keyframes shadow {
	from {
		-webkit-box-shadow: none;
		box-shadow: none;
		color: black;
	}
	to {
		-webkit-box-shadow: inset 0 -18px 30px -30px #3b51ce;
		box-shadow: inset 0 -18px 30px -30px #3b51ce;
		color: #3b51ce;
	}
}

.rotate-right-container a {
	text-decoration: none;
	color: black;
	position: relative;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	display: block;
	padding: 0 10px;
	padding-bottom: 10px;
}

.rotate-right-container a::after {
	width: 0;
	left: 0;
	height: 1px;
	background-color: #3b51ce;
	position: absolute;
	content: "";
	top: 100%;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.rotate-right-container a:hover::after {
	width: 100%;
}

.rotate-right-container a:hover {
	-webkit-animation: shadow 0.5s linear both;
	animation: shadow 0.5s linear both;
}

/* main -image */
.main-image {
	width: 100vw;
}

.main-image img {
	width: 100%;
}

/* ----------- navigator---------- */
#navigator {
	position: sticky;
	top: 140px;
	box-shadow: 0px 14px 32px 0px #0000001a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 12vw;
	height: 250px;
	margin-top: 40px;
	background-color: white;
}

#navigator a {
	text-decoration: none;
	color: #000000;
	margin-bottom: 10px;
}

/* main content */
.section1 {
	margin: 40px 15vw;
	margin-right: 15vw;
	margin-top: -250px;
}
.section1 h1 {
	font-size: 2rem;
}

.section1 h2 {
	color: #959595;
}

h2 {
	margin: 6px 0;
}

.lists {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.lists div {
	max-width: 33.33%;
}

.lists ul {
	margin-left: 20px;
	color: #000000;
	font-size: 0.8rem;
	margin-top: 10px;
}
/* ------------------------ general margin -------------------- */
ol,
ul {
	margin-left: 20px;
	color: #000000;
	font-size: 0.9rem;
	margin-top: 14px;
	margin-bottom: 10px;
}

.outside-margin {
	margin: 40px 15vw;
}

.img-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 20px auto;
}

.img-container img {
	width: 40%;
}

.highlight-container {
	width: 100%;
	padding: 2% 10%;
}

.one-highlight {
	background: #fff7ea;
	border-radius: 12px;
	padding: 20px 32px;
	margin-bottom: 30px;
}

/* -------------------- section3 -------------- */
.section3 {
	scroll-margin-top: 100px;
}
.section3 h2 {
	color: black;
}

.section3 .img-container img {
	width: 100%;
}

/* -------------------- section4 -------------- */
.section4 h2 {
	color: black;
}

/*  -------------- footer ------------ */
/* ------------ footer -------------- */
footer {
	background-color: #f3f3f3;
	padding: 30px 15vw;
	text-align: center;
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

footer ul {
	display: flex;
}

footer ul li {
	list-style: none;
}

footer ul li a {
	width: 60px;
	height: 60px;
	background-color: #fff;
	text-align: center;
	line-height: 80px;
	font-size: 35px;
	margin: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 3px solid #fff;
	z-index: 1;
	text-decoration: none;
}

footer ul li a .icon {
	position: relative;
	color: #262626;
	transition: 0.5s;
	z-index: 3;
	font-size: 20px;
}

footer ul li a:hover .icon {
	color: #fff;
	transform: rotateY(360deg);
}

footer ul li a:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: 0.5s;
	z-index: 2;
}

footer ul li a:hover:before {
	top: 0;
}

footer ul li:nth-child(1) a:before {
	background: #ff9d42;
}

footer ul li:nth-child(2) a:before {
	background: #0077b5;
}

footer ul li:nth-child(3) a:before {
	background: #dd4b39;
}

.mail {
	flex: 1;
	text-align: center;
}

.blue1:hover {
	background-color: #1937d7;
	transition: 0.2s;
}

/* ------------- mobile view -------------- */

@media screen and (max-width: 800px) {
	.lists {
		flex-direction: column;
	}
	.lists div {
		max-width: 100%;
		margin-bottom: 20px;
	}
	#navigator {
		display: none;
	}
	.section1 {
		margin: 40px 40px;
	}
	.section1-h2 h2 {
		font-size: 1rem;
	}
	.name {
		display: none;
	}
	.header {
		padding: 0;
		padding-left: 15px;
	}
	.right-section div {
		margin-right: 15px;
	}
	.rotate-right-container a {
		padding: 0 3px;
		font-size: 1rem;
	}

	/* footer */
	footer {
		padding: 30px;
	}
	.social {
		flex-direction: column;
	}
}
